@import url('https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap');

body {
    background-image: url(../images/pexels-photo-617230.jpeg);
}

h1,h2,small {
    font-family: 'Saira Stencil One', cursive;
}

small {
    color: red !important;
}

li {
    background-image: url(../images/pexels-photo-617230.jpeg);
    color: red !important;
    font: bold;
    font-size: 2em;
}